---
import { SignIn, SignOut } from 'auth-astro/components'
import { getSession} from "auth-astro/server"

const session = await getSession(Astro.request)
---

<SignIn class="p-2 w-24 bg-blue-500 text-white" provider="google" >Login</SignIn>
<SignOut class="p-2 w-24 bg-red-500 text-white" >Logout</SignOut>

{session  && (
    <p>{session.user?.name}</p>
    <p>{session.user?.email}</p>
    <img src={session.user?.image} alt="" />
)}