<button id="login" class="bg-blue-500 text-white py-2 px-4 rounded">Login</button>
<button id="logout" class="bg-red-500 text-white py-2 px-4 rounded">Logout</button>


<script>
    document.addEventListener('astro:page-load', async () => {
        const { signIn, signOut } = await import("auth-astro/client")
        const $button = document.querySelector("#login")
        $button?.addEventListener("click", () => signIn("google"))

        const $logoutButton = document.querySelector("#logout")
        $logoutButton?.addEventListener("click", () => signOut())
    })
</script>